<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSSupportsLiveActivities</key>
	<true/>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>AppIcon</string>
			</array>
			<key>UIPrerenderedIcon</key>
			<false/>
		</dict>
		<key>CFBundleAlternateIcons</key>
		<dict>
			<key>ForestThemeIcon</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIcon-Forest</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<true/>
			</dict>
			<key>IceThemeIcon</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIcon-Ice</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<true/>
			</dict>
			<key>FireThemeIcon</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIcon-Fire</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>NSCalendarsUsageDescription</key>
	<string>StudentCompanion needs access to your calendars to display your events alongside your academic schedule, helping you manage your time effectively.</string>
	<key>NSRemindersUsageDescription</key>
	<string>StudentCompanion needs access to your reminders to integrate your tasks and academic deadlines, keeping everything organized in one place.</string>
	<key>NSCalendarsWriteOnlyAccessUsageDescription</key>
	<string>StudentCompanion needs to add events to your calendar to help you manage your academic schedule.</string>
	<key>NSCalendarsFullAccessUsageDescription</key>
	<string>StudentCompanion needs full access to your calendars to display and manage your events alongside your academic schedule, helping you manage your time effectively.</string>
	<key>NSRemindersFullAccessUsageDescription</key>
	<string>StudentCompanion needs full access to your reminders to integrate and manage your tasks and academic deadlines, keeping everything organized in one place.</string>
</dict>
</plist>