<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundleAlternateIcons</key>
		<dict>
			<key>FireThemeIcon</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIcon-Fire</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<true/>
			</dict>
			<key>ForestThemeIcon</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIcon-Forest</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<true/>
			</dict>
			<key>IceThemeIcon</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIcon-Ice</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<true/>
			</dict>
		</dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>AppIcon</string>
			</array>
			<key>UIPrerenderedIcon</key>
			<false/>
		</dict>
	</dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.802192919415-cnjmfbihba29nb3m23hb1gslqcf974f2</string>
			</array>
		</dict>
	</array>
	<key>GIDClientID</key>
	<string>802192919415-cnjmfbihba29nb3m23hb1gslqcf974f2.apps.googleusercontent.com</string>
	<key>NSCalendarsFullAccessUsageDescription</key>
	<string>StuCo needs full access to your calendars to display and manage your events alongside your academic schedule, helping you manage your time effectively.</string>
	<key>NSCalendarsWriteOnlyAccessUsageDescription</key>
	<string>StuCo needs to add events to your calendar to help you manage your academic schedule.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>We need your location to provide you with accurate, real-time weather information for your area.</string>
	<key>NSRemindersFullAccessUsageDescription</key>
	<string>StuCo needs full access to your reminders to integrate and manage your tasks and academic deadlines, keeping everything organized in one place.</string>
	<key>SUPABASE_ANON_KEY</key>
	<string>eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImVlZ3J0Z2lpend0amd3bW5rcnlvIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTU4MzQwNDEsImV4cCI6MjA3MTQxMDA0MX0.5rSvc8hhP_FDRRSkSTjADrKODDlfT_hyY-02hLl-17Q</string>
	<key>SUPABASE_URL</key>
	<string>https://eegrtgiizwtjgwmnkryo.supabase.co</string>
	<key>UIAppFonts</key>
	<array>
		<string>FormaDJRText-Regular-Testing.ttf</string>
		<string>FormaDJRText-Medium-Testing.ttf</string>
		<string>FormaDJRText-Bold-Testing.ttf</string>
		<string>FormaDJRText-Light-Testing.ttf</string>
		<string>FormaDJRText-ExtraLight-Testing.ttf</string>
		<string>FormaDJRText-Black-Testing.ttf</string>
		<string>FormaDJRText-ExtraBold-Testing.ttf</string>
		<string>FormaDJRDeck-Regular-Testing.ttf</string>
		<string>FormaDJRDeck-Medium-Testing.ttf</string>
		<string>FormaDJRDeck-Bold-Testing.ttf</string>
		<string>FormaDJRDeck-Light-Testing.ttf</string>
		<string>FormaDJRBanner-Regular-Testing.ttf</string>
		<string>FormaDJRBanner-Medium-Testing.ttf</string>
		<string>FormaDJRBanner-Bold-Testing.ttf</string>
		<string>FormaDJRDisplay-Regular-Testing.ttf</string>
		<string>FormaDJRDisplay-Medium-Testing.ttf</string>
		<string>FormaDJRDisplay-Bold-Testing.ttf</string>
	</array>
</dict>
</plist>
