<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>RegexPatterns</key>
	<dict>
		<key>weightPattern</key>
		<string>(\d{1,3}(?:\.\d{1,2})?)\s*%?</string>
		<key>gradePattern</key>
		<string>(\b\d{1,3}(?:\.\d{1,2})?%?|\b[A-F][+-]?|\b\d{1,3}(?:\.\d{1,2})?(?:\s*out\s*of\s*\d+)?)\b</string>
		<key>mixedGradePattern</key>
		<string>(\d+(?:\.\d+)?/\d+(?:\.\d+)?|\d+(?:\.\d+)?%|[A-F][+-]?)</string>
		<key>timePattern</key>
		<string>(?i)(\b\d{1,2}(?::\d{2})?\s*(?:am|pm)?\b)</string>
		<key>time24HourPattern</key>
		<string>(?i)(\b(?:[01]\d|2[0-3]):[0-5]\d\b)</string>
		<key>timeRangePattern</key>
		<string>(?i)\b(\d{1,2}(?::\d{2})?\s*(?:am|pm)?)\s*(?:to|until|till|-|–)\s*(\d{1,2}(?::\d{2})?\s*(?:am|pm)?)\b</string>
		<key>durationPattern</key>
		<string>(?i)(\d+(?:\.\d+)?)\s*(hour|hr|h|minute|min|m)</string>
		<key>iso8601DurationPattern</key>
		<string>(?i)PT(?:(\d+)H)?(?:(\d+)M)?(?:(\d+)S)?</string>
		<key>relativeDatePattern</key>
		<string>(?i)\b(next|this|last)\s+(monday|tuesday|wednesday|thursday|friday|saturday|sunday|week|month)\b</string>
		<key>dateOffsetPattern</key>
		<string>(?i)\b(\d+)\s+(days?|weeks?|months?)\s+(from\s+now|ago|later)\b</string>
	</dict>
	<key>Keywords</key>
	<dict>
		<key>gradeKeywords</key>
		<array>
			<string>grade</string>
			<string>score</string>
			<string>got</string>
			<string>received</string>
			<string>earned</string>
			<string>scored</string>
			<string>mark</string>
			<string>result</string>
		</array>
		<key>eventKeywords</key>
		<array>
			<string>meeting</string>
			<string>appointment</string>
			<string>reminder</string>
			<string>deadline</string>
			<string>exam</string>
			<string>test</string>
			<string>quiz</string>
			<string>homework</string>
			<string>hw</string>
			<string>due</string>
			<string>call</string>
			<string>lunch</string>
			<string>dinner</string>
			<string>party</string>
		</array>
		<key>scheduleKeywords</key>
		<array>
			<string>every</string>
			<string>weekly</string>
			<string>schedule</string>
			<string>class</string>
			<string>recurring</string>
			<string>course</string>
			<string>lecture</string>
		</array>
	</dict>
	<key>InternationalGrading</key>
	<dict>
		<key>letterGrades</key>
		<dict>
			<key>US</key>
			<array>
				<string>A+</string>
				<string>A</string>
				<string>A-</string>
				<string>B+</string>
				<string>B</string>
				<string>B-</string>
				<string>C+</string>
				<string>C</string>
				<string>C-</string>
				<string>D+</string>
				<string>D</string>
				<string>D-</string>
				<string>F</string>
			</array>
			<key>UK</key>
			<array>
				<string>1st</string>
				<string>2:1</string>
				<string>2:2</string>
				<string>3rd</string>
				<string>Pass</string>
				<string>Fail</string>
			</array>
			<key>Australian</key>
			<array>
				<string>HD</string>
				<string>DI</string>
				<string>CR</string>
				<string>P</string>
				<string>N</string>
			</array>
		</dict>
		<key>passFail</key>
		<array>
			<string>Pass</string>
			<string>Fail</string>
			<string>P</string>
			<string>F</string>
			<string>S</string>
			<string>U</string>
		</array>
	</dict>
	<key>CategorySynonyms</key>
	<dict>
		<key>assignment</key>
		<array>
			<string>hw</string>
			<string>homework</string>
			<string>task</string>
			<string>work</string>
			<string>project</string>
		</array>
		<key>exam</key>
		<array>
			<string>test</string>
			<string>quiz</string>
			<string>midterm</string>
			<string>final</string>
			<string>examination</string>
		</array>
		<key>lab</key>
		<array>
			<string>laboratory</string>
			<string>practical</string>
			<string>workshop</string>
		</array>
		<key>meeting</key>
		<array>
			<string>meet</string>
			<string>appointment</string>
			<string>call</string>
			<string>conference</string>
		</array>
		<key>personal</key>
		<array>
			<string>private</string>
			<string>self</string>
			<string>own</string>
		</array>
	</dict>
	<key>CourseAbbreviations</key>
	<dict>
		<key>mathematics</key>
		<array>
			<string>math</string>
			<string>maths</string>
		</array>
		<key>computer science</key>
		<array>
			<string>cs</string>
			<string>comp sci</string>
			<string>compsci</string>
		</array>
		<key>physics</key>
		<array>
			<string>phys</string>
		</array>
		<key>chemistry</key>
		<array>
			<string>chem</string>
		</array>
		<key>biology</key>
		<array>
			<string>bio</string>
		</array>
		<key>history</key>
		<array>
			<string>hist</string>
		</array>
		<key>english</key>
		<array>
			<string>eng</string>
		</array>
		<key>psychology</key>
		<array>
			<string>psych</string>
			<string>psyc</string>
		</array>
		<key>philosophy</key>
		<array>
			<string>phil</string>
		</array>
		<key>calculus</key>
		<array>
			<string>calc</string>
		</array>
	</dict>
	<key>CommonAbbreviations</key>
	<dict>
		<key>ASAP</key>
		<string>as soon as possible</string>
		<key>FYI</key>
		<string>for your information</string>
		<key>BRB</key>
		<string>be right back</string>
		<key>IMO</key>
		<string>in my opinion</string>
		<key>ETA</key>
		<string>estimated time of arrival</string>
		<key>PTO</key>
		<string>paid time off</string>
		<key>EOD</key>
		<string>end of day</string>
		<key>TBD</key>
		<string>to be determined</string>
		<key>HW</key>
		<string>homework</string>
		<key>PROJ</key>
		<string>project</string>
		<key>PRES</key>
		<string>presentation</string>
		<key>SEM</key>
		<string>seminar</string>
		<key>LEC</key>
		<string>lecture</string>
		<key>LAB</key>
		<string>laboratory</string>
		<key>EXAM</key>
		<string>examination</string>
		<key>QUIZ</key>
		<string>quiz</string>
		<key>PROF</key>
		<string>professor</string>
		<key>TA</key>
		<string>teaching assistant</string>
		<key>OH</key>
		<string>office hours</string>
		<key>MTNG</key>
		<string>meeting</string>
		<key>APPT</key>
		<string>appointment</string>
		<key>CONF</key>
		<string>conference</string>
		<key>MON</key>
		<string>Monday</string>
		<key>TUE</key>
		<string>Tuesday</string>
		<key>WED</key>
		<string>Wednesday</string>
		<key>THU</key>
		<string>Thursday</string>
		<key>FRI</key>
		<string>Friday</string>
		<key>SAT</key>
		<string>Saturday</string>
		<key>SUN</key>
		<string>Sunday</string>
		<key>TMR</key>
		<string>tomorrow</string>
		<key>TMRW</key>
		<string>tomorrow</string>
		<key>MINS</key>
		<string>minutes</string>
		<key>HRS</key>
		<string>hours</string>
		<key>WK</key>
		<string>week</string>
		<key>YR</key>
		<string>year</string>
		<key>GPA</key>
		<string>grade point average</string>
		<key>PCT</key>
		<string>percent</string>
		<key>PTS</key>
		<string>points</string>
		<key>DEPT</key>
		<string>department</string>
		<key>LIB</key>
		<string>library</string>
		<key>TECH</key>
		<string>technology</string>
		<key>INFO</key>
		<string>information</string>
		<key>COMM</key>
		<string>communication</string>
		<key>HIST</key>
		<string>history</string>
		<key>SCI</key>
		<string>science</string>
		<key>APP</key>
		<string>application</string>
		<key>RM</key>
		<string>room</string>
		<key>BLDG</key>
		<string>building</string>
		<key>LOC</key>
		<string>location</string>
		<key>UNIV</key>
		<string>university</string>
		<key>COLL</key>
		<string>college</string>
		<key>DR</key>
		<string>doctor</string>
		<key>GYM</key>
		<string>gymnasium</string>
		<key>BIZ</key>
		<string>business</string>
		<key>CORP</key>
		<string>corporation</string>
		<key>ORG</key>
		<string>organization</string>
		<key>MTG</key>
		<string>meeting</string>
		<key>CAR</key>
		<string>automobile</string>
		<key>BUS</key>
		<string>bus</string>
		<key>FLIGHT</key>
		<string>flight</string>
		<key>REST</key>
		<string>restaurant</string>
		<key>CAFE</key>
		<string>cafe</string>
		<key>PARTY</key>
		<string>party</string>
		<key>BDAY</key>
		<string>birthday</string>
		<key>MOVIE</key>
		<string>movie</string>
		<key>GAME</key>
		<string>game</string>
		<key>MISC</key>
		<string>miscellaneous</string>
		<key>ETC</key>
		<string>et cetera</string>
		<key>VS</key>
		<string>versus</string>
		<key>THX</key>
		<string>thanks</string>
		<key>PLS</key>
		<string>please</string>
		<key>2DAY</key>
		<string>today</string>
		<key>L8R</key>
		<string>later</string>
	</dict>
	<key>RelativeDateMappings</key>
	<dict>
		<key>next</key>
		<integer>1</integer>
		<key>this</key>
		<integer>0</integer>
		<key>last</key>
		<integer>-1</integer>
	</dict>
	<key>PerturbationTests</key>
	<dict>
		<key>typoVariations</key>
		<array>
			<string>recieved</string>
			<string>recevied</string>
			<string>tomorow</string>
			<string>tommorrow</string>
			<string>assigment</string>
			<string>assignmnet</string>
		</array>
		<key>synonymReplacements</key>
		<dict>
			<key>got</key>
			<array>
				<string>received</string>
				<string>earned</string>
				<string>scored</string>
			</array>
			<key>meeting</key>
			<array>
				<string>appointment</string>
				<string>call</string>
				<string>conference</string>
			</array>
		</dict>
	</dict>
</dict>
</plist>
